:root{
    font-size: 20px;
}

label{
    display: inline-block;
    width: 15%;
}

div{
    padding: 1rem;
}

input, textarea{
    height: 10rem;
}

.container_submit{
    display: flex;
    justify-content: center;
}

input[type=submit]{
    width: 50%;
}

.erreur{
    padding: 0;
    color: red;
}

.valide{
    color: green;
}

.notValide{
    color: orange;
}